#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
 
  text-align: center;
  background-color: #1a1830; 
  color: #fff; 
}

body {
  background-color: #1a1830;
}

/* Header  */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333; 
  color: white; 
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  gap: 20px;
}

/* Navigation Tabs */
.nav-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease;

  &:hover {
    color: #0dff00; 
  }
}

.nav-link.active {
  color: #0dff00; 
  background-color: #555; 
}

/* About */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.avatar {
  border-radius: 50%;
  width: 150px; 
  height: 150px; 
  margin-right: 20px;
}

.bio {
  max-width: 600px;
}


/* Portfolio */
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  width: 48%; /* Two columns for larger screens */
  margin-bottom: 1rem;
  overflow: hidden; /* Ensure the overflow is hidden */
  border: 5px solid #0dff00;
  box-sizing: border-box; /* Include border in width calculation */
}

.project-card img {
  width: 100%; /* Make images fill the container */
  height: auto;
  display: block; /* Remove default inline styles */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .project-card {
    width: 100%; /* One column for smaller screens */
  }
}
.project-links {
  margin-top: 10px; /* Adjust spacing between links and image */
}

.project-links a {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #61dafb; /* GitHub color */
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition effect on hover */
}

.project-links a:hover {
  background-color: #4285f4; /* Change color on hover */
}


/* Contact */

.contact-container {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input,
textarea {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}